node_modules
dist
.env
.env.local
coverage
cache
out
broadcast
*.log

work
outputs
*.tsbuildinfo
circuits/**/target/proof
circuits/**/target/public_inputs
circuits/**/target/vk
circuits/**/target/vk_hash
circuits/**/target/*witness*
